#aboutus {
    position: relative;
    top: 15vh;
    margin-top: 10vh;
    justify-content: center;
    text-align: center;
}

#aboutnirma {
    position: relative;
    top: 15vh;
    margin-top: 10vh;
    justify-content: center;
    text-align: center;
}

#aboutnirma img {
    width: 85vw;
    height: 50vh;
    margin-top: 5vh;
}

#vision {
    position: relative;
    margin-top: 20vh;
    justify-content: center;
    text-align: center;
}

#mission {
    position: relative;
    margin-top: 20vh;
    justify-content: center;
    text-align: center;
    margin-bottom: 5vw;
}

.au,
.aun,
.vis,
.mis {
    text-transform: uppercase;
    text-decoration: overline;
    font-size: 7vmin;
    font-family: 'Roboto Slab';
    font-weight: bolder;
}

.content-aboutus,
.content-aboutnirma,
.content-vision,
.content-mission {
    font-family: 'ubuntu';
    font-weight: bolder;
}